[Unit]
Description=Pet Service backend Server

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/php /home/backend/Music/backendQA/backend.php

[Install]
WantedBy=multi-user.target